@import "tailwindcss";

:root {
	color-scheme: dark;
}

@keyframes loading-bar {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(400%);
	}
}

* {
	scrollbar-color: #7e7e7e #1e1e1e;
}

*::-webkit-scrollbar {
	width: 16px;
	height: 16px;
    scrollbar-width: thin;
}
